.body{
  background-color: Tomato;
    }
.button {
   
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;===
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 25px;
}
.heading {
  background-color: white;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: ;
  display: ;
  font-size:; 
  margin: ;
  border-radius:25px ;
  font-family: "Times New Roman", Times, serif;
 }
input{
  
  border-radius:25px;
     }
